---
  title: Kurssin työvälineet 
  exercise_page: false
  quiz_page: false
  published: true
---


<% partial 'partials/material_heading' do %>
  Työvälineet ja niiden asentaminen
<% end %>

<p>
  Harjoitustyötä varten tarvitset:
</p>

<ul>
  <li>
    Tuen Python-kielisten ohjelmien suorittamiseen. Käytössäsi tulee olla vähintään Pythonin versio 3.5. Löydät tarvittaessa Pythonin asentamiseen tarvittavat tiedostot osoitteesta <a href="https://www.python.org/downloads/" target="_blank" norel>https://www.python.org/downloads/</a>.<br/><br/>
  </li>
  <li>
    Tuen Python-kirjastojen lataamiseen. Käytössäsi tulee olla Pythonin <a href="https://packaging.python.org/key_projects/#pip" target="_blank" norel>pip</a>, jonka avulla saat ladattua apukirjastoja. Pip asentuu oletuksena edellä annetun linkin takaa löytyvistä Python-versioista.<br/><br/>
  </li>
  <li>
    Tuen Python-"virtuaaliympäristöjen" luomiseen. Käytössäsi tulee olla Pythonin <a href="https://docs.python.org/3/library/venv.html" target="_blank" norel>venv</a>-kirjasto, jonka avulla voit luoda toisistaan riippumattomia Python-projekteja. Tuki tulee mahdollisesti edellä asentaman Python-ympäristön mukana. Lue myös osoitteessa <a href="https://docs.python.org/3/tutorial/venv.html" target="_blank" norel>https://docs.python.org/3/tutorial/venv.html</a> oleva opas, ja kokeile virtuaaliympäristön luomista.<br/><br/>
  </li>
  <li>
    PostgreSQL-tietokannanhallintajärjestelmän. Käytössäsi tulee olla <a href="https://www.postgresql.org/" target="_blank" norel>PostgreSQL</a>-tietokannanhallintajärjestelmä. Hyödyt myös välineistä tietokannanhallintajärjestelmän käsittelyyn -- tässä esimerkiksi <a href="https://www.pgadmin.org/" taret="_blank" norel>pgAdmin</a> on hyvä.<br/><br/>
  </li>
  <li>
    Työvälineet gitin käyttöön. Käytössäsi tulee olla työvälineet git-repojen käsittelyyn. Asennusohjeet löytyvät osoitteesta <a href="https://git-scm.com/downloads/" target="_blank" norel>https://git-scm.com/downloads</a>.<br/><br/>
  </li>
  <li>
    Sopivan ohjelmointiympäristön Python-kehitykselle. Pythonin käyttäminen NetBeans 8.2 -versiossa on <a href="https://stackoverflow.com/questions/47477890/netbeans-8-2-python-plugin" target="_blank" norel>periaatteessa mahdollista</a>, mutta esimerkiksi <a href="https://code.visualstudio.com/" target="_blank" norel>Visual Studio Code</a> on todennäköisesti tähän tarkoitukseen paljon parempi.<br/><br/>
  </li>
  
  <li>
    Github-käyttäjätunnuksen. Harjoitustyö säilötään Github-palveluun. Tarvitset <a href="https://github.com/" target="_blank">Githubin</a> käyttöön käyttäjätunnuksen.<br/><br/>
  </li>
  <li>
    Heroku-käyttäjätunnuksen. Harjoitustyö julkaistaan verkossa Heroku-pilvipalvelussa. Tarvitset tunnukset <a href="https://www.heroku.com/" target="_blank" norel>Heroku</a>-palveluun.<br/><br/>
  </li>
  <li>
    Labtool-käyttäjätunnuksen. Harjoitustyön arvostelu ja viikoittaiset palautukset tapahtuvat Labtool-työvälineen kautta. Osoite julkaistaan pian.<br/><br/>
  </li>    

</ul>
