---
title: Viikko 7
exercise_page: false
quiz_page: false
published: true
---


<% partial 'partials/hint', locals: { name: 'Viikon 7 etapit' } do %>

  <ul>
    <li>Viimeiset viilaukset</li>
    <li>Loppupalautus</li>
    <li>Demo</li>
  </ul>

<% end %>

<p>
  Viikolla 7 teet viimeiset viilaukset sovellukseesi sekä sen dokumentaatioon. Tarkasta, että dokumentaatiossa olevat käyttötapaukset vastaavat sovelluksen toiminnallisuutta ja kaaviot tietokantaa. Varmista, että sovellus on käytettävä, ja katso että se on sellaisessa kunnossa, että sen voi ottaa käyttöön ja sitä voi demota muille.
</p>
