---
title: Viikko 6
exercise_page: false
quiz_page: false
published: true
---


<% partial 'partials/hint', locals: { name: 'Viikon 6 etapit' } do %>

  <ul>
    <li>Toiminnallisuuden täydentäminen</li>
    <li>Ulkoasun, käytettävyyden ja toiminnallisuuden viilausta</li>
    <li>Tarvittaessa päivitä jo tehtyjä osia</li>
    <li>Aloita puuttuvan dokumentaation kirjoittaminen</li>
  </ul>

<% end %>

<p>
  Viikolla 6 viet omaa sovellustasi eteenpäin ja tarkastelet myös muiden töitä. Päivitäthän viimeistään nyt myös alustavan tietokantakaaviosi sekä käyttötapaukset vastaamaan sovelluksen tilaa. Käyttötapauksissa voi käyttötapauskohtaisesti ilmoittaa niiden tilan, eli onko käyttötapaus jo toteutettu vai onko se vielä toteuttamatta.
</p>
