---
title: Viikko 6
exercise_page: false
quiz_page: false
published: true
---


<% partial 'partials/hint', locals: { name: 'Viikon 6 etapit' } do %>

  <ul>
    <li>Toiminnallisuuden täydentäminen</li>
    <li>Ulkoasun, käytettävyyden ja toiminnallisuuden viilausta</li>
  </ul>

<% end %>

<p>
  Viikolla 6 viet omaa sovellustasi eteenpäin. Päivitäthän viimeistään nyt myös alustavan tietokantakaaviosi sekä käyttötapaukset vastaamaan sovelluksen tilaa. Käyttötapauksissa voi käyttötapauskohtaisesti ilmoittaa niiden tilan, eli onko käyttötapaus jo toteutettu vai onko se vielä toteuttamatta.
</p>
