---
  title: Viikko 2
  exercise_page: false
  quiz_page: false
  published: false
---


<% partial 'partials/hint', locals: { name: 'Viikon 2 etapit' } do %>

  <p>-</p>
  
<% end %>

 - pieni refaktorointi, dokumentaatio-hakemisto ja dokumentaation aloitus, sovellus omaan hakemistoonsa
   - samalla gitignoreen myös muut tarpeettomat asiat? (.DS_Store, IDEn tiedostot)
   - em tarpeettomien tiedostojen poisto gitistä
   - linkki dokumentaatioon ja herokuun README.md-tiedostoon

 - sqlalchemy ja orm
   - tietokantakaavio 
   - crud
   - listaus

 - sessiot

 - kirjautuminen
