---
  title: Viikko 2
  exercise_page: false
  quiz_page: false
  published: false
---


<% partial 'partials/hint', locals: { name: 'Viikon 2 etapit' } do %>

  <p>-</p>
  
<% end %>

 - pieni refaktorointi, dokumentaatio-hakemisto ja dokumentaation aloitus

 - sqlalchemy ja orm
   - tietokantakaavio 
   - crud
   - listaus

 - sessiot

 - kirjautuminen
